@import "./utils/variables";
@import "./utils/reset";
@import "./utils/visually-hidden";
@import "./components/container";
@import "./components/header";
@import "./components/_hero";
@import "./components/section-title";
@import "./components/advantage";
@import "./components/activity";
@import "./components/team";
@import "./components/client";
@import "./components/footer";
@import "./components/backdrop";
@import "./components/portfolio";