/* Чим ми займаємось */

 .activity {
  @media screen and (max-width: 1199px) {
      display: none;
    }
    padding-top: 0;
    &__list {
        display: flex;
        gap: 30px;
        position: relative;
      }
    
      &__text {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 370px;
        height: 70px;
        font-weight: 700;
        line-height: 1, 14;
        text-transform: uppercase;
        color: $primary-white-color;
        background-color: rgba(47, 48, 58, 0.8);
        bottom: 0px;
      }
  }
  
  
  