/* Модальне вікно */

.backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms $cubic-bezier, visibility 250ms $cubic-bezier;
  }
  
  .modal {
    width: 100vw;
    height: 100vh;;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: $main-background;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms $cubic-bezier;
    padding: 40px;
    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(0);
      }
      @media screen and (min-width: 480px) {
        width: 450px;
    }
      @media screen and (min-width: 1200px) {
        width: 528px;
    }
  }
  
  .modal-btn {
    width: 30px;
    height: 30px;
    position: absolute;
    background-color: $main-background;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    
  }
  
  .modal-btn > svg {
    transition: fill 250ms $cubic-bezier;
  }
  
  .modal-btn:hover svg,
  .modal-btn:focus svg{
    fill: $accent-color;
  
  }
  
  .is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  
  
  .modal-form {
        &-title {
            font-weight: 700;
            font-size: 20px;
            line-height: 1.15;
            text-align: center;
            letter-spacing: 0.03em;
            color: $primary-text-color;
            margin-bottom: 12px;
          }
        &-field {
          display: flex;
          flex-direction: column;
          margin-bottom: 10px;
        }
        &-label {
          margin-bottom: 4px;
          font-weight: 400;
          font-size: 12px;
          line-height: 1.17;
          letter-spacing: 0.01em;
          color: $text-color;
        }
    
        &-input {
          width: 100%;
          height: 40px;
          border: 1px solid rgba(33, 33, 33, 0.2);
          border-radius: 4px;
          color: $primary-text-color;
          padding-left: 42px;
          transition: border-color 250ms $cubic-bezier;
          
        }
  }
  
  .last-field {
    margin-bottom: 0px;
  }
  
  .comment {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    transition: border-color 250ms $cubic-bezier;
      .modal-form-field:hover &,
      .modal-form-field:focus & {
        border-color: $accent-color;
      }
      .modal-form-field:focus-within & {
    outline: none;
    border-color: $accent-color;
  }
    // @media screen and (min-width: 480px) {
    //   width: 370px;
    // }
  
    // @media screen and (min-width: 1200px) {
    //   width: 100%;
    // }
  }
  
  textarea {
    resize: none;
  }
  
  .modal-form-btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    min-width: 200px;
    padding: 10px 52px;
    background: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88x;
    letter-spacing: 0.06em;
    color: $primary-white-color;
    transition: background-color 250ms $cubic-bezier;
      &:hover,
      &:focus {
        background-color: #188ce8;
      }
  }
  
  .modal-form-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .modal-form-icon {
    position: absolute;
    left: 12px;
    transition: fill 250ms $cubic-bezier;
      .modal-form-wrapper:hover &,
      .modal-form-wrapper:focus & {
        fill: $accent-color;
      }
      
      .modal-form-wrapper:focus-within & {
        fill: $accent-color;
      }
  }
  
  .modal-form-input:hover,
  .modal-form-input:focus {
    border-color: $accent-color;
    outline: none;
  }

  .modal-form-checkbox {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
      &-text {
        font-size: 10px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: $text-color;
        @media screen and (min-width: 480px) {
            font-size: 12px;
           
          }
        @media screen and (min-width: 1200px) {
          font-size: 14px;
          line-height: 1.71;
        }
      }
    
      &-link {
        font-size: 10px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-decoration-line: underline;
        color: $accent-color;
        @media screen and (min-width: 480px) {
            font-size: 12px;
            
          }
        @media screen and (min-width: 1200px) {
            font-size: 14px;
            line-height: 1.71;
          }
      }
      &-label {
        display: flex;
        align-items: center;
        margin-right: 5px;
        }
  }
  
  .checkbox-iconblack {
    margin-right: 8px;
    transition: opacity 250ms $cubic-bezier;
    .checkbox:checked + & {
    opacity: 0;
  }
  }
  
  .checkbox-iconcheck {
    position: absolute;
    opacity: 0;
    transition: opacity 250ms $cubic-bezier;
    .checkbox:checked ~ & {
    opacity: 1;
  }
  }
  
  
  
  
  
  