/* Header */
.header {
  border-bottom: 1px solid #ececec;
  po
}

.main-nav {
  display: flex;
  align-items: center;
  @media screen and (max-width:767px) {
      justify-content: space-between;
    }
}

.logo {
  @media screen and (max-width:767px) {
      padding-top: 16px;
      padding-bottom: 16px;
    }
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: $accent-color;
  &__part--dark {
      color: $logo-part-color;
    }
}



.navigation {
  @media screen and (max-width:767px) {
      display: none;
    }
  @media screen and (min-width:768px) {
      margin-left: 87px;
    }
  
  @media screen and (min-width:1200px) {
      margin-left: 92px;
    }
  
    &__list {
      display: flex;
    }
    &__item + &__item {
      margin-left: 50px;
    }
  
    &__link {
      display: block;
      padding-top: 32px;
      padding-bottom: 32px;
      font-family: inherit;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: $primary-text-color;
      transition: color 250ms $cubic-bezier;
        &:hover,
        &:focus {
          color: $accent-color;
        }
    }
}

.current {
  color: $accent-color;
  position: relative;
    &::after {
      position: absolute;
      content: '';
      width: 100%;
      height: 4px;
      left: 0;
      bottom: 0;
      background: #2196f3;
      border-radius: 2px;
    }
}

.contact {
  @media screen and (max-width:767px) {
      display: none;
    }
  
  align-items: center;
  margin-left: auto;
  &__item + &__item {
      margin-bottom: 32px;
    }
  @media screen and (min-width: 768px) {
    &__item + &__item {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width:1200px) {
      display: flex;
      &__item + &__item {
        margin-left: 50px;
        margin-bottom: 0;
      }
    }
  
  
    &__link {
      @media screen and (min-width:1200px) {
          display: flex;
        }
      
      padding-top: 32px;
      padding-bottom: 32px;
      font-family: inherit;
      font-weight: 500;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: $text-color;
      align-items: center;
      transition: color 250ms $cubic-bezier;
  
      &:hover,
      &:focus {
        color: $accent-color;
      }
    }
    

    &__icon {
      margin-right: 10px;
      fill: currentColor;
    }
}

.mob-menu {
  width: 100vw;
  height: 100vh;
}
// .mob-menu {
//   position: fixed;
//   top: 0;
//   background-color: #ffffff;
//   width: 100vw;
//   height: 100vh;
//   z-index: 1;
//   padding-top: 48px;
//   padding-bottom: 48px;

//   >.container {
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     overflow: auto;
//   }

.menu-open-btn {

  // padding: 12px 8px;
  border: none;
  background-color: transparent;
  // margin-left: auto;
}

.menu-close-btn {
margin-left: auto;
background-color: transparent;
}